---
http_interactions:
- request:
    method: post
    uri: https://textanalysis-text-summarization.p.mashape.com/text-summarizer
    body:
      encoding: UTF-8
      string: '{"url":"http://autoreach.herokuapp.com/","text":"","sentnum":8}'
    headers:
      X-Mashape-Authorization:
      - 3XpikZC7NnmshGVWiXre5HgYu5JHp1dNhkbjsnjxXHV86cgiCb
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Requests-Limit:
      - '100'
      X-Ratelimit-Requests-Remaining:
      - '90'
    body:
      encoding: UTF-8
      string: |-
        {
          "sentences": [
            "Be first to find out when we Launch our product."
          ]
        }
  recorded_at: Thu, 06 Aug 2015 15:17:37 GMT
- request:
    method: post
    uri: https://api.twitter.com/1.1/statuses/update.json
    body:
      encoding: UTF-8
      string: status=Be+first+to+find+out+when+we+Launch+our+product.+http%3A%2F%2Fautoreach.herokuapp.com%2F
    headers:
      Authorization:
      - OAuth oauth_consumer_key="XXbzfGZ5g8zcgzVJhc9iuUwh5", oauth_nonce="31f57916fc3a2abe97a6e846ab3b9b73",
        oauth_signature="6LAqZQ8cuxxjpmIvwNwWUn8L%2BBI%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1438874257", oauth_token="2431831016-ksK2t1ztrxvN9nR3gzfQfqLzFeU9oX1BKripKBL",
        oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Thu, 06 Aug 2015 15:17:38 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 050f0c89abe5b746c6fdc4f11337333d
      X-Response-Time:
      - '315'
      X-Transaction:
      - 197a772fce7ba4d1
      X-Tsa-Request-Body-Time:
      - '96'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"created_at":"Thu Aug 06 15:17:38 +0000 2015","id":629310368741888000,"id_str":"629310368741888000","text":"Be
        first to find out when we Launch our product. http:\/\/t.co\/jbbDGRfMTa","source":"\u003ca
        href=\"http:\/\/www.autopath.co\" rel=\"nofollow\"\u003eautoreach\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":2431831016,"id_str":"2431831016","name":"Prashant","screen_name":"prasGyeser","location":"","description":"","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":8,"friends_count":4,"listed_count":0,"created_at":"Mon
        Apr 07 10:22:34 +0000 2014","favourites_count":0,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":0,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/abs.twimg.com\/sticky\/default_profile_images\/default_profile_6_normal.png","profile_image_url_https":"https:\/\/abs.twimg.com\/sticky\/default_profile_images\/default_profile_6_normal.png","profile_link_color":"0084B4","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":true,"default_profile_image":true,"following":false,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":0,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[{"url":"http:\/\/t.co\/jbbDGRfMTa","expanded_url":"http:\/\/autoreach.herokuapp.com\/","display_url":"autoreach.herokuapp.com","indices":[49,71]}]},"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"}'
  recorded_at: Thu, 06 Aug 2015 15:17:38 GMT
recorded_with: VCR 2.9.3
