---
http_interactions:
- request:
    method: post
    uri: https://api.twitter.com/1.1/statuses/update.json
    body:
      encoding: UTF-8
      string: status=%23GrowthHacking+Discover+freemium+value+https%3A%2F%2Fblog.kissmetrics.com%2Fuse-kissmetrics-discover-freemium-value%2F
    headers:
      Authorization:
      - OAuth oauth_consumer_key="XXbzfGZ5g8zcgzVJhc9iuUwh5", oauth_nonce="82d763f21bdb9d0a4432cd65f6be7ad3",
        oauth_signature="OzqbL5UfTtwOVHVkTj9tblm7f%2Bg%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1439350941", oauth_token="2431831016-ksK2t1ztrxvN9nR3gzfQfqLzFeU9oX1BKripKBL",
        oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Wed, 12 Aug 2015 03:42:22 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 9064b0c20e9155c7cfb6ada2abe3944c
      X-Response-Time:
      - '316'
      X-Transaction:
      - 4d57b082ce843ed4
      X-Tsa-Request-Body-Time:
      - '101'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"created_at":"Wed Aug 12 03:42:22 +0000 2015","id":631309724416249856,"id_str":"631309724416249856","text":"#GrowthHacking
        Discover freemium value https:\/\/t.co\/J4Q7uo8bhX","source":"\u003ca href=\"http:\/\/www.autopath.co\"
        rel=\"nofollow\"\u003eautoreach\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":2431831016,"id_str":"2431831016","name":"Prashant","screen_name":"prasGyeser","location":"","description":"","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":8,"friends_count":4,"listed_count":0,"created_at":"Mon
        Apr 07 10:22:34 +0000 2014","favourites_count":0,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":1,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/abs.twimg.com\/sticky\/default_profile_images\/default_profile_6_normal.png","profile_image_url_https":"https:\/\/abs.twimg.com\/sticky\/default_profile_images\/default_profile_6_normal.png","profile_link_color":"0084B4","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":true,"default_profile_image":true,"following":false,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":0,"entities":{"hashtags":[{"text":"GrowthHacking","indices":[0,14]}],"symbols":[],"user_mentions":[],"urls":[{"url":"https:\/\/t.co\/J4Q7uo8bhX","expanded_url":"https:\/\/blog.kissmetrics.com\/use-kissmetrics-discover-freemium-value\/","display_url":"blog.kissmetrics.com\/use-kissmetric\u2026","indices":[39,62]}]},"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"}'
  recorded_at: Wed, 12 Aug 2015 03:42:22 GMT
recorded_with: VCR 2.9.3
