---
http_interactions:
- request:
    method: post
    uri: https://api.twitter.com/1.1/statuses/update.json
    body:
      encoding: UTF-8
      string: status=http%3A%2F%2Fautoreach.herokuapp.com%2F
    headers:
      Authorization:
      - OAuth oauth_consumer_key="XXbzfGZ5g8zcgzVJhc9iuUwh5", oauth_nonce="53a1256f90bdfeec06461516f3c26285",
        oauth_signature="1Q1CCxI%2FtrV6G9lagpw8wAC6hvs%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1438829611", oauth_token="2431831016-ksK2t1ztrxvN9nR3gzfQfqLzFeU9oX1BKripKBL",
        oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Thu, 06 Aug 2015 02:53:31 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - e7ab8e4676625f1af1c51368b0990f74
      X-Response-Time:
      - '387'
      X-Transaction:
      - 7d0ca740a692928b
      X-Tsa-Request-Body-Time:
      - '95'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"created_at":"Thu Aug 06 02:53:31 +0000 2015","id":629123106553008128,"id_str":"629123106553008128","text":"http:\/\/t.co\/jbbDGRfMTa","source":"\u003ca
        href=\"http:\/\/www.autopath.co\" rel=\"nofollow\"\u003eautoreach\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":2431831016,"id_str":"2431831016","name":"Prashant","screen_name":"prasGyeser","location":"","description":"","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":8,"friends_count":4,"listed_count":0,"created_at":"Mon
        Apr 07 10:22:34 +0000 2014","favourites_count":0,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":1,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/abs.twimg.com\/sticky\/default_profile_images\/default_profile_6_normal.png","profile_image_url_https":"https:\/\/abs.twimg.com\/sticky\/default_profile_images\/default_profile_6_normal.png","profile_link_color":"0084B4","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":true,"default_profile_image":true,"following":false,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":0,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[{"url":"http:\/\/t.co\/jbbDGRfMTa","expanded_url":"http:\/\/autoreach.herokuapp.com\/","display_url":"autoreach.herokuapp.com","indices":[0,22]}]},"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"und"}'
  recorded_at: Thu, 06 Aug 2015 02:53:32 GMT
recorded_with: VCR 2.9.3
