---
http_interactions:
- request:
    method: post
    uri: https://textanalysis-text-summarization.p.mashape.com/text-summarizer
    body:
      encoding: UTF-8
      string: '{"url":"https://blog.kissmetrics.com/use-kissmetrics-discover-freemium-value/","text":"","sentnum":8}'
    headers:
      X-Mashape-Authorization:
      - 3XpikZC7NnmshGVWiXre5HgYu5JHp1dNhkbjsnjxXHV86cgiCb
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Requests-Limit:
      - '100'
      X-Ratelimit-Requests-Remaining:
      - '98'
    body:
      encoding: UTF-8
      string: |-
        {
          "sentences": [
            "There are a few ways to determine the effectiveness of your freemium plan.",
            "For instance, you can track all your freemium customers in a spreadsheet to see which ones convert to paying customers.",
            "Unfortunately, plenty of failed companies used the freemium model, too.",
            "Analytics tools like Kissmetrics (with its Cohort Report, Funnel Report, and People Search) can help you discover if freemium is working for your business.",
            "But if none of the freemium users upgrade to a paying plan or refer others, your freemium plan may just be a burden on your business.",
            "Using the Kissmetrics Cohort Report, you can see if and when your freemium customers move up and start paying you.",
            "If you\u2019re using freemium on your product, you may want to sign up for Kissmetrics to see if it\u2019s working for you.",
            "Then, ideally, the freemium users upgrade to a paying plan or refer others who pay."
          ]
        }
  recorded_at: Mon, 10 Aug 2015 15:13:04 GMT
- request:
    method: post
    uri: https://api.twitter.com/1.1/statuses/update.json
    body:
      encoding: UTF-8
      string: status=There+are+a+few+ways+to+determine+the+effectiveness+o...+https%3A%2F%2Fblog.kissmetrics.com%2Fuse-kissmetrics-discover-freemium-value%2F
    headers:
      Authorization:
      - OAuth oauth_consumer_key="XXbzfGZ5g8zcgzVJhc9iuUwh5", oauth_nonce="da2ea3641e6634890cf268a45d0dd065",
        oauth_signature="LRPLvTDoiCNNhX9ziWyLNDFf1WY%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1439219584", oauth_token="2431831016-ksK2t1ztrxvN9nR3gzfQfqLzFeU9oX1BKripKBL",
        oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Mon, 10 Aug 2015 15:13:06 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - cf0ecb7fbd77ec694f123ff62bcbf1e6
      X-Response-Time:
      - '353'
      X-Transaction:
      - eaaca8011cf69209
      X-Tsa-Request-Body-Time:
      - '95'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"created_at":"Mon Aug 10 15:13:06 +0000 2015","id":630758779231993856,"id_str":"630758779231993856","text":"There
        are a few ways to determine the effectiveness o... https:\/\/t.co\/J4Q7uo8bhX","source":"\u003ca
        href=\"http:\/\/www.autopath.co\" rel=\"nofollow\"\u003eautoreach\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":2431831016,"id_str":"2431831016","name":"Prashant","screen_name":"prasGyeser","location":"","description":"","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":8,"friends_count":4,"listed_count":0,"created_at":"Mon
        Apr 07 10:22:34 +0000 2014","favourites_count":0,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":1,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/abs.twimg.com\/sticky\/default_profile_images\/default_profile_6_normal.png","profile_image_url_https":"https:\/\/abs.twimg.com\/sticky\/default_profile_images\/default_profile_6_normal.png","profile_link_color":"0084B4","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":true,"default_profile_image":true,"following":false,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":0,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[{"url":"https:\/\/t.co\/J4Q7uo8bhX","expanded_url":"https:\/\/blog.kissmetrics.com\/use-kissmetrics-discover-freemium-value\/","display_url":"blog.kissmetrics.com\/use-kissmetric\u2026","indices":[57,80]}]},"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"}'
  recorded_at: Mon, 10 Aug 2015 15:13:05 GMT
recorded_with: VCR 2.9.3
