---
http_interactions:
- request:
    method: get
    uri: https://count.donreach.com/?url=https://blog.kissmetrics.com/use-kissmetrics-discover-freemium-value/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "url": "https://blog.kissmetrics.com/use-kissmetrics-discover-freemium-value/",
          "shares": {
            "buffer": 44,
            "facebook": 54,
            "google": 9,
            "linkedin": 73,
            "pinterest": 0,
            "reddit": 0,
            "total": 722,
            "twitter": 542,
            "vk": 0
          }
        }
  recorded_at: Sun, 16 Aug 2015 03:33:16 GMT
recorded_with: VCR 2.9.3
