---
http_interactions:
- request:
    method: get
    uri: http://api.embed.ly/1/extract?key=a09deb46653a4d769df3734d11491c44&urls=https://blog.bufferapp.com/social-media-marketing-plan
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"3cb32cf2c55a2685bd1c81080a3c9ec62b033bdd"
      X-Embedly-From-Cache:
      - '0'
      X-Embedly-Host:
      - unearth20
      X-Embedly-Process-Time:
      - '42'
    body:
      encoding: ASCII-8BIT
      string: '[{"provider_url": "https://blog.bufferapp.com", "description": "This
        post originally published on July 16, 2014. We''ve updated it here with new
        research and stats and a cool new infographic. When I went rock climbing for
        the first time, I had no idea what I was doing.", "embeds": [], "safe": true,
        "provider_display": "blog.bufferapp.com", "related": [], "favicon_url": "https://bufferblog-wpengine.netdna-ssl.com/wp-content/themes/buffer-base/favicon.png",
        "authors": [], "images": [{"caption": null, "url": "https://blog.bufferapp.com/wp-content/uploads/2014/07/Screen-Shot-2014-07-15-at-4.27.22-PM.png",
        "height": 424, "width": 928, "colors": [{"color": [100, 100, 100], "weight":
        0.7387695312}, {"color": [147, 148, 149], "weight": 0.2612304688}], "entropy":
        2.071215315, "size": 23635}, {"caption": null, "url": "https://blog.bufferapp.com/wp-content/uploads/2014/07/mx8sxGC.jpg",
        "height": 600, "width": 566, "colors": [{"color": [35, 74, 116], "weight":
        0.8579101562}, {"color": [236, 239, 222], "weight": 0.0874023438}, {"color":
        [184, 184, 184], "weight": 0.0288085938}, {"color": [148, 149, 160], "weight":
        0.0258789062}], "entropy": 5.72152576687, "size": 128548}, {"caption": null,
        "url": "http://bufferblog.wpengine.netdna-cdn.com/wp-content/uploads/2014/04/Screen-Shot-2014-04-12-at-1.26.37-PM.png",
        "height": 463, "width": 649, "colors": [{"color": [37, 150, 75], "weight":
        0.6728515625}, {"color": [246, 249, 248], "weight": 0.2058105469}, {"color":
        [2, 3, 5], "weight": 0.1213378906}], "entropy": 1.2067869683, "size": 53335}],
        "cache_age": 73500, "language": "English", "app_links": [], "original_url":
        "https://blog.bufferapp.com/social-media-marketing-plan", "url": "https://blog.bufferapp.com/social-media-marketing-plan",
        "media": {}, "title": "How to Create a Social Media Marketing Plan From Scratch",
        "offset": null, "lead": null, "content": "<div>\n<em>This post originally
        published on July 16, 2014. We''ve updated it here with new research and stats
        and a cool new infographic. <img src=\"https://bufferblog-wpengine.netdna-ssl.com/wp-includes/images/smilies/simple-smile.png\"></em>
        <p>When I went rock climbing for the first time, I had no idea what I was
        doing. My friends and I were complete newbies about ropes and rappelling and
        every other bit of jargon and technique that goes with climbing. We saw others
        doing it spectacularly well. We were thrilled at the thought of reaching the
        top of the climbing wall; we had no idea how to get [...]
