<%= render partial: 'edit_keyword' %>

<div class="container-fluid container-fixed-lg bg-white">

  <div class="panel panel-transparent">
    <div class="panel-heading">
      <div class="panel-title">
        Article List
        <!-- Button trigger modal -->
      </div>
      <button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target="#editKeyword">
        Change Keyword
      </button>

      <div class="clearfix"></div>
    </div>
    <div class="panel-body">
      <div class="table-responsive">

        <table class="table table-striped">
          <thead>
            <tr>
              <th width="60%">Article Details</th>
              <th style="padding: 8px 20px;">Status</th>
              <th style="padding: 8px 20px;">Actions</th>
            </tr>
          </thead>
          <tbody>

            <% @articles.each do |article| %>
              <tr>
                <td class="v-align-middle">
                  <a href="#" class="bold"><%= article.title %></a>
                  <p style="margin-top: 5px;">
                    <%= truncate(article.content, :length => 255, :separator => ' ') %>
                  </p>
                </td>
                <td class="v-align-middle">
                  <span class="label label-warning">Not Posted</span>
                </td>
                <td class="v-align-middle">
                  <div class="btn-group">
                    <button class="btn btn-success" type="button"><i class="fa fa-pencil"></i></button>
                    <button class="btn btn-danger" type="button"><i class="fa fa-trash-o"></i></button>
                  </div>
                </td>
              </tr>
            <% end %>
          
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>