---
http_interactions:
- request:
    method: get
    uri: http://api.embed.ly/1/extract?key=a09deb46653a4d769df3734d11491c44&urls=autoreach.co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"9bed86ba45a0db35bff84a3aafaf1277171167b0"'
      X-Embedly-From-Cache:
      - '0'
      X-Embedly-Host:
      - unearth10
      X-Embedly-Process-Time:
      - '37'
    body:
      encoding: UTF-8
      string: '[{"provider_url": "http://www.autoreach.co", "description": null, "embeds":
        [], "safe": true, "provider_display": "www.autoreach.co", "related": [], "favicon_url":
        null, "authors": [], "images": [], "cache_age": 86017, "language": null, "app_links":
        [], "original_url": "autoreach.co", "url": "http://www.autoreach.co/", "media":
        {}, "title": "Rails Boiler Plate", "offset": null, "lead": null, "content":
        null, "entities": [], "favicon_colors": null, "keywords": [], "published":
        null, "provider_name": "Autoreach", "type": "html"}]'
  recorded_at: Fri, 14 Aug 2015 17:20:50 GMT
recorded_with: VCR 2.9.3
