<div class="container-fluid container-fixed-lg bg-white">

  <div class="panel panel-transparent">
    <div class="panel-heading">
      <div class="panel-title">
        Keywords
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="panel-body">
      <div class="row row-same-height">
        <div class="col-md-7 b-r b-dashed b-grey sm-b-b">
          <div class="padding-30 m-t-50">
            <table class="table table-condensed">
              <tbody><tr>
                <td class="col-lg-8 col-md-6 col-sm-7 ">
                  <a class="remove-item" href="#"><i class="pg-close"></i></a>
                  <span class="m-l-10 font-montserrat fs-18 all-caps">Some keyword</span>
                </td>
                <td class=" col-lg-4 col-md-6 col-sm-3 text-right">
                  <span class="text-primary no-margin font-montserrat">100 articles</span>
                </td>
              </tr>
              <tr>
                <td class="col-lg-8 col-md-6 col-sm-7 ">
                  <a class="remove-item" href="#"><i class="pg-close"></i></a>
                  <span class="m-l-10 font-montserrat fs-18 all-caps">Some other keyword</span>
                </td>
                <td class=" col-lg-4 col-md-6 col-sm-3 text-right">
                  <span class="text-primary no-margin font-montserrat">100 articles</span>
                </td>
              </tr>
              <tr>
                <td class="col-lg-8 col-md-6 col-sm-7 " colspan="2" style="border-bottom: none">
                  <div class="form-group form-group-default">
                    <label>New Keyword</label>
                    <input type="email" required="" class="form-control" autofocus>
                  </div>
                </td>

              </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="col-md-5">
          <div class="padding-30 m-t-50">
            <h2>Your Bags are ready to check out!</h2>
            <p>Discover goods you'll love from brands that inspire. The easiest way to open your own online store. Discover amazing stuff or open your own store for free!</p>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>