<div class="row">
  <div class="col-md-12">

    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="panel-title">
          Article Search
        </div>
      </div>
      <div class="panel-body">
        <p class="m-b-20">
          Enter upto 3 keywords with each keyword seperated by a comma ',' without any space before or after the comma
        </p>

        <%= form_tag("/admin/article_search/results", method: "get") do %>

          <div class="form-group form-group-default required ">
            <%= label_tag(:keywords, "Keywords") %>
            <%= text_field_tag(:keywords, nil, class: "form-control", autofocus: true ) %>
            <!--<input class="form-control" required="" type="text" autofocus>-->
          </div>
          <%= submit_tag("Search", class: 'btn btn-primary btn-cons') %>
        <% end %>

      </div>
    </div>



  </div>

</div>


